* {
    box-sizing: border-box;
}
:root {
    --dark-grey-blue: #272c3d;
    --light-grey-blue: #e1f0f5;
    --light-blue: #8ff0f7;
    --bright-blue: #2137ff;
}
body {
    margin: 0 auto;
    background-color: var(--dark-grey-blue);
}
main {
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    background-color: var(--light-grey-blue);
    box-shadow: 1px 10px 100px 10px rgba(0, 0, 0, 0.5);
}
.cv {
    display: flex;
    padding: 20px;
}
.cv-sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cv-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header {
    background-color: var(--light-blue);
    margin-bottom: 20px;
    padding: 0;
}
.menu {
    padding: 0;
    margin: 0;
}
.menu-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.menu-items {
    list-style: none; 
    margin: 0;
    transition: .5s;
}
.menu-items-link {
    text-decoration: none;
    margin: 0;
    padding: 0 20px;
    line-height: 80px;
    transition: .5s;
}
.menu-items:active {
    background-color: var(--bright-blue);
    flex-grow: 1;
}
.menu-items-link:hover {
    text-decoration: underline;
    color: #fff;
}
.menu-items-link:active {
    color: #f78606;
}
.my-photo{
    margin-left: 30px;
}
.photo {
    border: 5px solid var(--bright-blue);
    border-radius: 50%;
    margin: 0;
}
.footer {
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;
}
i.fab, i.fas {
    color: #000;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}
a i.fab {
    color: #000;
    font-size: 48px;
}
.date {
    font-size: 32px;
    align-self: center;
}
.me {
    flex-basis: 300px;
    display: flex;
    justify-content: space-around;
}
.me-content {
    text-align: center;
    align-self: center;
}
h1 {
    font-size: 48px;
    margin: 10px;
    border-bottom: 5px solid var(--bright-blue);
}
.contacts-list {
    list-style: none;
    padding-inline-start: 10px;
    line-height: 10px;
}
.skills{
    flex-grow: 1;
}
.skills-list {
    line-height: 60px;
}
.languages{
    flex-grow: 1;
}
.languages-list {
    line-height: 60px;
}
.education-list {
    line-height: 40px;
}
.code-example-content {
    margin: 5px;
}
.about-me{
    line-height: 30px;
}
.my-projects-content{
    line-height: 30px;
}


